html, body {
  margin: 0;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

svg {
  display: block;
  background-color: whitesmoke;
}

.county:hover {
  fill: red;
}

#header {
  text-align: center;
}

#canvas {
  min-width: 1200px;
  min-height: 700px;
}

#tooltip {
  visibility: hidden;
  height: auto;
  width: auto;
}
